.App-header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
}

.App-header img {
  width: 200px;
}

.App-body {
  padding: 20px;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
